@page
@model SurveyUP.Views.Answers.CreateModel

<h4>Stwórz odpowiedź</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Answer.QuestionId" class="control-label"></label>
                <select asp-for="Answer.QuestionId" class="form-control" asp-items="ViewBag.QuestionId"></select>                
            </div>
            <div class="form-group">
                <label asp-for="Answer.AnswerText" class="control-label"></label>
                <input asp-for="Answer.AnswerText" class="form-control" />
                <span asp-validation-for="Answer.AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer.DefaultText" class="control-label"></label>
                <input asp-for="Answer.DefaultText" class="form-control" />
                <span asp-validation-for="Answer.DefaultText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer.AnswerTypeId" class="control-label"></label>
                <select asp-for="Answer.AnswerTypeId" class="form-control" asp-items="ViewBag.AnswerTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-danger">Powrót do listy odpowiedzi</a>
</div>

