@page
@model SurveyUP.Public.ConfirmFill
@{
    ViewData["Title"] = "Ankieta została wypełniona";
}

<h1>@ViewData["Title"]</h1>
<p>
    @Model.ThanksData
</p>
<div>
    <a asp-page="./Index" class="btn btn-danger">Powrót do listy ankiet</a>
</div>