@page
@model SurveyUP.Users.ConfirmEmailModel
@{
    ViewData["Title"] = "Adres email został potwierdzony";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-page="./Index" class="btn btn-danger">Powrót do listy użytkowników</a>
</div>